body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f6f8; /* Fondo claro y neutro para mejor legibilidad */
}

header {
    background-color: #005f73; /* Un azul oscuro que inspira confianza y calma */
    color: #ffffff; /* Texto blanco para buen contraste */
    padding: 15px;
    text-align: center;
    width: auto;
}

header img {
    max-width: 100px;
    height: auto;
}

/* Estilos del menú lateral */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background-color: #0a9396; /* Verde motivacional que simboliza crecimiento */
    padding-top: 20px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    z-index: 1000;
    height: 554px;
    border-radius: 10px;
}

.menu-header {
    background-color: #94d2bd; /* Un verde más suave y relajante */
    padding: 15px;
    text-align: center;
    color: #004346; /* Un tono oscuro que contrasta bien */
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
    text-align: left;
}

.menu ul li a {
    color: #001219; /* Un tono oscuro de azul que es profesional y legible */
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-bottom: 2px solid #000000;
}

.menu ul li a:hover {
    background-color: #03afbb; /* Un naranja vibrante que simboliza energía y acción */
}

/* Estilos para el contenido */
article {
    display: flex;
    padding: 20px;
    margin-left: 240px;
}

/* Modificación de la barra lateral */
.integrantes {
    background-color: #e9d8a6; /* Color crema para contraste suave */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #001219; /* Un azul muy oscuro y elegante */
    color: #e9d8a6; /* Crema para buen contraste */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: auto;
}

/* Estilos de las secciones */
section {
    margin-bottom: 50px;
}
